body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #EAF6F6;
  text-align: center;
  color: #40514e;
}

p{
  line-height: 1.5;
}

a{
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}

.top_container{
  background-color: #dbf6e9;
  position: relative;
  padding-top: 160px;
  margin: 0 auto;
}

.middle_container{
  margin: 100px 0;
}

.bottom_container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.copyrighttext{
  color: #EAF6F6;
  font-size: .8rem;
  font-family: "Montserrat", sans-serif;
  padding: 20px 0 0 0;
}

.hr_dotted {
  border: 0;
  border-top: 6px dotted lightgray;
  width: 8%;
  margin: 100px auto;
}

.hr_normal{
  margin: 0;
}

.title{
  font-family: 'Patrick Hand', cursive;
  font-size: 3.5rem;
  color: #007580;
  line-height: 1;
  margin-bottom: 0;
}

.title_description{
  font-family: 'New Tegomin', serif;
  font-size: 1.5rem;
  color: #9ecca4;
  font-weight: normal;
  line-height: 1;
  padding-bottom: 100px;
}

.title_sub1{
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  color: #8ac4d0;
  line-height: 1;
}
.title_sub2{
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #31326f;
  line-height: 1;
}
.title_sub3{
  font-family: sans-serif;
  font-size: 1rem;
  color: #40514e;
  line-height: 1.5;
}
.textviewer{
  margin: 0 auto 100px auto;
  width: 30%;
}

.img_profile{
  width: 12rem;
  height: 13rem;
  border-radius: 100%;
}

.img_round{
  border-radius: 100%;
}

.icon_left{
  float: left;
  margin-right: 30px;
  width: 20%;
}

.icon_right{
  float: right;
  margin-left: 30px;
  width: 20%;
}

.berge{
  margin: 0;
}

.wolke1{
  width: 12rem;
  height: 7rem;
  position:absolute;
  right:300px;
  top: 50px;
}
.wolke2{
  position: absolute;
  width: 11rem;
  height: 6rem;
  left: 300px;
  bottom: 200px;
}

.skill-row{
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
  text-decoration: none;
}
